<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h1 class="media-heading"><%= @user.name %></h1>
        <%= render partial: 'items/form', locals: { item: Item.new, user: @user } %>
      </div>
    </div>
  </div>
</div>

<h2><p class="text-center">To-do List</p></h2>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Task</th>
        <th>Days Left</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'items/item', collection: @items %>
    </tbody>
  </table>
</div>
